.flagGenerator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(250x, 1fr));
    grid-gap: 1rem;
}

@media (max-width: 600px) {
    .flagGenerator {
        grid-template-columns: 1fr;
    }
}
