/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
    --ifm-color-primary: #7d00d1;
    --ifm-color-primary-dark: #7000bc;
    --ifm-color-primary-darker: #6a00b2;
    --ifm-color-primary-darkest: #570092;
    --ifm-color-primary-light: #8900e6;
    --ifm-color-primary-lighter: #9000f0;
    --ifm-color-primary-lightest: #9f11ff;
}

button,
input,
label {
    font-family: var(--ifm-font-family-base);
}

[data-theme="dark"] {
    --ifm-color-primary: #ff8fdd;
    --ifm-color-primary-dark: #ff67d1;
    --ifm-color-primary-darker: #ff53cb;
    --ifm-color-primary-darkest: #ff18b9;
    --ifm-color-primary-light: #ffb7e9;
    --ifm-color-primary-lighter: #ffcbef;
    --ifm-color-primary-lightest: #ffffff;
}

.tick-input {
    appearance: none;
    background: var(--ifm-navbar-search-input-background-color);
    border: none;
    border-radius: 2rem;
    color: var(--ifm-navbar-search-input-color);
    cursor: text;
    display: inline-block;
    font-size: 0.9rem;
    height: 2rem;
    padding: 0 0.5rem 0 0.75rem;
}

.tick-input-slider {
    background: var(--ifm-navbar-search-input-background-color);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
}
